<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li><a th:href="@{/consultar-casos}"><i class="fa fa-search" aria-hidden="true"></i> <span>Consultar Casos</span></a></li>
            <li><a th:href="@{/gerenciar-base-casos}"><i class="fa fa-database" aria-hidden="true"></i> <span>Gerenciar Base de Casos</span></a></li>
            <li><a th:href="@{/gerenciar-passos}"><i class="fa fa-list-ol" aria-hidden="true"></i> <span>Gerenciar Passos (Solução)</span></a></li>
            <li><a th:href="@{/gerenciar-tipos-incidentes}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span>Gerenciar Tipos Incidentes</span></a></li>
            <li><a th:href="@{/gerenciar-tipos-falhas}"><i class="fa fa-bug" aria-hidden="true"></i> <span>Gerenciar Tipos Falhas</span></a></li>
            <li><a th:href="@{/gerenciar-tipos-so}"><i class="fa fa-circle-o" aria-hidden="true"></i> <span>Gerenciar Tipos S.O.</span></a></li>
        </ul>
    </section>
</aside>