<div th:fragment="retrieved-case" class="grid gap gap-2">
  <h3
    class="text-xl font-medium text-stone-700 border-l-4 border-amber-500 pl-2 mb-2 rounded-sm"
  >
    [[${caso.getNome()}]]
  </h3>
  <p>
    &#8594; Posicao: <strong>[[${caso.getPosicao().toUpperCase()}]]</strong>
  </p>
  <p>&#8594; Custo: <strong>[[${caso.getCusto()}]]</strong></p>
  <p>
    &#8594; Equipe adversaria: <strong>[[${caso.getId_oponente()}]]</strong>
  </p>
  <p>
    &#8594; Media normalizada da pontuacao dos 20 casos mais similares:
    <strong>[[${resultCase.getAverageScore()}]]</strong>
  </p>
  <p>
    &#8594; Potencial de ponto por cartoleta:
    <strong>[[${resultCase.getAverageScoreByCost()}]]</strong>
  </p>
  <div th:if="${caso.getPontuacao() != null}" class="mt-2">
    <p>&#8594; Pontuacao obtida: <strong>[[${caso.getPontuacao()}]]</strong></p>
    <p>
      &#8594; Pontuacao obtida por cartoleta:
      <strong>[[${resultCase.getScoreByCost()}]]</strong>
    </p>
  </div>
</div>
