<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout"
>
  <head>
    <title>Cartolatico</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <body>
    <h1 class="text-3xl font-bold underline">Cartolatico</h1>
    <p>
      Sistema para recomendacao de jogadores para escalacao no aplicativo
      Cartola FC a partir da posicao buscada, do orcamento disponivel e da
      equipe adversaria.
    </p>
    <p>Insira abaixo os valores desejados para os atributos citados.</p>
    <!-- <h2>Clubes</h2>
    <ul>
      <li th:each="club: ${clubList}">
        <span th:text="${club.nome}" />
      </li>
    </ul> -->
    <form action="#" th:action="@{/busca}" th:object="${query}" method="post">
      <div class="field">
        <label for="posicao">Posicao: </label>
        <select name="posicao" id="posicao" th:field="*{posicao}">
          <option value="TEC">Tecnico</option>
          <option value="GOL">Goleiro</option>
          <option value="ZAG">Zagueiro</option>
          <option value="LAT">Lateral</option>
          <option value="MEI">Meia</option>
          <option value="ATA">Atacante</option>
        </select>
      </div>
      <div class="field">
        <label for="custo">Custo: </label>
        <input
          type="number"
          id="custo"
          name="custo"
          th:field="*{custo}"
          step="0.1"
        />
      </div>
      <div class="field">
        <label for="id_rodada">Rodada: </label>
        <select name="id_rodada" id="id_rodada" th:field="*{id_rodada}">
          <option
            th:each="rodada: ${rodadas}"
            th:value="${rodada}"
            th:text="${rodada}"
          />
        </select>
      </div>
      <button type="submit">Buscar</button>
    </form>
  </body>
</html>
