<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout"
>
  <head>
    <title>Cartolatico</title>
  </head>
  <body>
    <h1>Cartolatico</h1>
    <h2>Resultado da consulta</h2>
    <a href="/">Realizar nova consulta</a>
    <p>Parametros informados:</p>
    <div th:object="${query}">
      <p th:text="*{posicao}" />
      <p th:text="*{custo}" />
      <p th:text="*{id_oponente}" />
      <p th:text="*{mando}" />
    </div>
    <hr />
    <ol>
      <li th:each="case : ${cases}">
        <span th:text="${case.getCaseRetrieved().toString()}" />
      </li>
    </ol>
  </body>
</html>
